.cardv {
   background: #fff;
   border-radius: 2px;
   display: inline-block;
   min-height: 50px;
   position: relative;
   padding: 10px;
   width:100%;
 }
.card-1 {
 box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
 transition: all 0.3s cubic-bezier(.25,.8,.25,1);
 margin-bottom: 10px;
 padding:30px;
 }

 .card-title {
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   transition: all 0.3s cubic-bezier(.25,.8,.25,1);
   margin-bottom: 10px;
   }

 .card-header {
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   transition: all 0.3s cubic-bezier(.25,.8,.25,1);
   margin-bottom: 10px;
   background: #fff;
   padding:30px;
   }
.card-1:hover{
    box-shadow: 0 4px 8px rgba(0,0,0,0.15), 0 1px 1px rgba(0,0,0,0.15);
  }


  .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color:#d7d5d5 ; /*#e2c6c6; */
}

.form-group label.control-label {
    color: #000000;
}
a {
    color: #000000;
}
