html, body {
 font-family: 'Roboto', 'Helvetica', sans-serif;
}

.clickable {
  cursor: pointer;
}

/* HACK TO FIX ROWS HIDING RANDOMLY */
.mdl-data-table tr td {
  position: static;
}

/* Doorbell feedback button*/
#doorbell-button {
  opacity: 0.7;
  left: 5%;
  right: auto;
}

#doorbell-button:hover {
  opacity: 1;
}

/* LOGIN SPECIFICS */
#login-body {
	background-color: #9ba6a5;/*#0097A7;#9ab2af*/;
}

#logo-container {
	text-align: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 300px;
}

#logo-container img {
  max-width: 100%;
  width: 100%;
}

#login-form {
	background-color: #fff;
	width: 100%;
	border-radius: 2px;
	max-width: 440px;
  box-sizing: border-box;
}

.error-container {
	background-color: #ff7a7a;
	height: 40px;
	margin-bottom: 12px;
	border-radius: 2px;
  padding: 10px;
}

.login-input-container {
	width: 100%;
}

.login-label {
	display: block;
	margin-bottom: 5px;
}

.login-input {
	width: 100%;
	height: 30px;
	border-radius: 3px;
	border: 1px solid #d8d8d8;
	padding: 1px 5px;
	font-size: 14px;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

#onboarding-container {
	margin-top: 30px;
	text-align: center;
	font-size: 13px;
	color: white;
}

#error-text {
	color: white;
}
/* Forgot Password stuff */
#forgot-password-body {
  background-color: #0097A7;
}
.success-container {
	background-color: #01bfa5;
	height: 40px;
	margin-bottom: 12px;
	border-radius: 2px;
  padding: 10px;
  color: white;
}
.route-this-form {
	background-color: #fff;
	width: 100%;
	border-radius: 2px;
	max-width: 440px;
  box-sizing: border-box;
}
#invalid-message {
  color: white;
  text-align: center;
}
.forgot-password-flex-box {
  display: inline-flex;
  width: 100%;
  height: -webkit-fill-available;
  align-items: center;
  justify-content: center;
}
/* Other Stuff */
.error {
  color: red;
}

.warning {
  color: #EF6C00;
}

.success {
 color: #4DB051;
}

.rt-card {
  background-color: #fdfdfd;
  padding: 1em;
}

.zebra-list li:nth-of-type(odd) {
  background-color: #f2f2f2;
}

.zebra-list li.selected {
  color: #3F51B5;
}

.zebra-list li.selected .mdl-list__item-sub-title.secondary-content {
  color: #3F51B5;
}

.zebra-list li.selected .material-icons.mdl-list__item-icon {
  color: #3F51B5;
}

.fixed-event-feed {
  width: 300px;
}

.event-feed-multiple-entry-item {
  cursor: pointer;
}

.event-feed-item-inner {
  position: relative;
  height: 72px;
  cursor: pointer;
}

.event-feed-item-inner .event-feed-icon {
  position: absolute;
  top: calc(50% - 12px);
  left: 15px;
}

.event-feed-item-inner .primary-content {
  color: #010101;
  position: absolute;
  left: 46px;
  top: 15px;;
  right: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: .04em;
}

.selected .event-feed-item-inner .primary-content {
  color: #3F51B5;
}

.event-feed-item-inner .secondary-content {
  position: absolute;
  left: 46px;
  bottom: 15px;
  right: 15px;
  font-size: 13px;
}

#event-info-dialog-name {
  color: #010101;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

#event-info-dialog-timestamp {
  margin-top: 4px;
}

.zebra-list li.event-feed-multiple-entry-header {
  border-top: 2px #E57373 solid;
  border-right: 2px #E57373 solid;
  border-left: 2px #E57373 solid;
  background-color: #E0E0E0;
  font-size: 15px;
}
.zebra-list li.event-feed-multiple-entry-header .material-icons {
  margin-right: 8px;
}

.zebra-list li.event-feed-multiple-entry-header .secondary-content {
  font-size: 13px;
}

.zebra-list li.event-feed-multiple-entry-item {
  height: 42px;
  min-height: 0px;
  border-right: 2px #E57373 solid;
  border-left: 2px #E57373 solid;
}

.zebra-list li.event-feed-multiple-entry-item .material-icons {
  margin-right: 8px;
}

.zebra-list li.event-feed-multiple-entry-item span.primary-content {
  font-size: 12px;
}

.zebra-list li.event-feed-multiple-entry-item span.secondary-content {
  font-size: 11px;
}

.zebra-list li.event-feed-multiple-entry-item.last {
  border-bottom: 2px #E57373 solid;
  padding-bottom: 24px;
  padding-top: 20px;
}

.zebra-list li.incomplete:nth-of-type(odd) {
  background-color: #F8BBD0;
}

.zebra-list li.incomplete:nth-of-type(even) {
  background-color: #FFCDD2;
}
.zebra-list li.running {
  background-color: #cdf2da;
}
.rt-flex-absolute-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.rt-search-callout {
  font-size: 1.2em;
  font-style: italic;
  color:#999;
  text-align: center;
}

.absolute-40-center {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}

input.rt-textfield__input {
  background: none;
  border: none;
  display: block;
  color: #757575;
  outline: none;
  font-size:1.8em;
  padding: 15px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 300;
  width: 100%;
  box-sizing: border-box;
}

input.rt-textfield__input.rt-textfield__input-small {
  font-size: 1.2em;
  font-weight: 400;
  padding: 0 15px;
}

.rt-page-margin {
  margin: 30px;
}

@media (max-width: 1150px) {
  .rt-page-margin {
    margin: 0;
  }
}

.rt-data-table {
  background-color: #fefefe;
  width: 100%;
}

.rt-data-table.fixed {
  table-layout: fixed;
}

.rt-data-table td {
  padding: 1em;
}

.rt-data-table.tight-data td {
  padding: 0.10em;
  padding-left:3em;
}

.mdl-card {
  min-height: 0;
}

.mdl-card__supporting-text.rt-fix-padding {
  width: auto;
}

.mdl-card__supporting-text.rt-fix-padding table {
  width: 100%;
}

.mdl-textfield.mdl-js-textfield.text-field-full {
  width: 100%;
}

.pull-right {
  text-align: right;
}

.pull-center {
  text-align: center;
}

.rt-layout .rt-header .mdl-textfield {
  padding: 0px;
  margin-top: 41px;
}

.rt-layout .rt-header .mdl-textfield .mdl-textfield__expandable-holder {
  bottom: 19px;
}

.rt-layout .mdl-layout__header .mdl-layout__drawer-button {
  margin: 8px 10px;
  color: rgba(255, 255, 255, 1);
}

.rt-layout .mdl-textfield--expandable .mdl-button--icon {
  top: -20px;
}

.drawer {
  border: none;
}

/* iOS Safari specific workaround */
.drawer .mdl-menu__container {
  z-index: -1;
}

.drawer .rt-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.avatar-dropdown {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.drawer .mdl-menu .mdl-menu__item {
  display: flex;
  align-items: center;
}
.drawer-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  height: 151px;
}

.rt-navigation {
  flex-grow: 1;
}
.rt-layout .rt-navigation .mdl-navigation__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
.rt-layout .rt-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
.rt-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.search-results-row {
  cursor: pointer;
}

.horizontal-scroller {
  width: 100%;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
}

.horizontal-scroller-auto-width {
  overflow-x: auto;
  display: flex;
  flex-direction: row;
}

dialog img {
  width: 100%;
}

.screenshot-wrapper {
  flex-shrink: 0;
  flex-grow: 0;
  width: 175px;
  margin: 10px;
  box-sizing: border-box;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  border: 4px solid #999;
  cursor: pointer;
}

.screenshot-wrapper.selected {
  cursor: default;
  border: 4px solid #64B5F6;
}

#screenshot-full img {
  max-width: 100%;
  border: 4px solid #eee;
  box-sizing: border-box;
}

dialog.mdl-dialog {
  min-width: 280px;
  max-width: 1000px;
  width: calc(100% - 70px);
}

.menu-checkbox {
  font-size: 14px;
  top: -12px;
  margin-left: 2px;
}

#results-table th, #results-table td {
  display: none;
}

#results-table.show-id th.search-results-id,#results-table.show-id td.search-results-id  { display: table-cell; }
#results-table.show-email th.search-results-email,#results-table.show-email td.search-results-email  { display: table-cell; }
#results-table.show-username th.search-results-username,#results-table.show-username td.search-results-username  { display: table-cell; }
#results-table.show-name th.search-results-name,#results-table.show-name td.search-results-name  { display: table-cell; }
#results-table.show-last-analysis th.search-results-last-analysis,#results-table.show-last-analysis td.search-results-last-analysis  { display: table-cell; }
#results-table.show-router-make th.search-results-router-make,#results-table.show-router-make td.search-results-router-make  { display: table-cell; }
#results-table.show-router-model th.search-results-router-model,#results-table.show-router-model td.search-results-router-model  { display: table-cell; }
#results-table.show-router-firmware th.search-results-router-firmware,#results-table.show-router-firmware td.search-results-router-firmware  { display: table-cell; }
#results-table.show-country th.search-results-country,#results-table.show-country td.search-results-country  { display: table-cell; }
#results-table.show-region th.search-results-region,#results-table.show-region td.search-results-region  { display: table-cell; }
#results-table.show-city th.search-results-city,#results-table.show-city td.search-results-city  { display: table-cell; }
#results-table.show-isp th.search-results-isp,#results-table.show-isp td.search-results-isp  { display: table-cell; }
#results-table.show-packet-loss th.search-results-packet-loss,#results-table.show-packet-loss td.search-results-packet-loss  { display: table-cell; }

.flex-column {
  display: flex;
  flex-direction: column;
}

#search-wrapper {
  flex-grow: 1;
  background-color: white;
  max-width: 400px;
  align-self: center;
  height: 40px;
  display: inherit;
  border-radius: 1px;
}

#page-title {
  margin-right: 25px;
  color: white;
  flex-grow: 1;
}

.person-icon {
  font-size: 140px;
}

.rt-fab {
  position: fixed;
  bottom: 2em;
  right: 2em;
  z-index: 9999;
  -webkit-transform: translateZ(0);
}

@media (max-width: 1200px) {
  .person-icon {
    font-size: 100px;
  }
}

@media (max-width: 1000px) {
  .person-icon {
    font-size: 75px;
  }

  .rt-fab {
    bottom: 1em;
    right: 1em;
  }

}

@media (max-width: 900px) {
  .person-icon {
    display: none;
  }
}

.rt-data-table td {
  padding: 12px 14px;
}

.local-device-graph-wrapper {
  position: relative;
}

.local-device-graph-message {
  position: absolute;
  top:0; right:0;
  left:0; bottom:0;
  background: rgba(255, 255, 255, 0.8);
}

.local-device-graph-message-text {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: calc(50% - 18px);
  margin: 0 auto;
  left: 0;
  right: 0;
}

.local-device-graph-button {
  text-align: center;
  font-size: 16px;
  color: rgb(64, 196, 255);
  position: absolute;
  text-decoration: underline;
  top: calc(50% + 9px);
  margin: 0 auto;
  left: 0;
  right: 0;
  cursor: pointer;
}

.local-device-table-wrapper {
  margin-bottom: 20px;
}

.graph-help-button {
  opacity: 1;
  position: absolute;
  top: -25px;
  right: 0;
  padding: 0.5em 1em;
  background-color: rgba(255, 255, 255, 1);
  color: rgb(64, 196, 255);
  text-decoration: underline;
  border-radius: 2px;
  cursor: pointer;
}

.graph-help-button:hover {
  opacity: 0.7;
  background-color: rgba(255, 255, 255, 1);
}

/* Remote Connectivity */
#remote-connectivity-ping-graph {
  padding: 24px 24px;
}

#remote-connectivity-dialog .zmdi-cloud {
  margin-right: 10px;
}

.ping-graph-title {
  text-align: center;
  font-weight: bold;
}

.section-help-text {
  color: rgb(64, 196, 255);
  cursor: pointer;
  text-decoration: underline;
  float: right;
}

/***** CUSTOMER'S DEVICES SECTION *****/

tr.this-device {
  background-color: #EAFFFB;
}

.mdl-data-table__cell--non-numeric.online-indicator {
  width: 20px;
  position: relative;
}

.online-indicator::after {
  position: absolute;
  top: calc(50% - 6px);
  left: 20px;
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background-color: #ff9600;
}

.online-indicator.online::after {
  background-color: #17bd17;
}

.online-legend {
  margin-bottom: 15px;
}

.online-indicator-example {
  padding-left: 20px;
  position: relative;
  color: #ff9600;
  margin-left: 5px;
  margin-right: 20px;
  margin-bottom: 5px;
}

.online-indicator-example.online {
  color: #17bd17;
}

.online-indicator-example::after {
  position: absolute;
  top: calc(50% - 6px);
  left: 0px;
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 100px;
  color: #ff9600;
  background-color: #ff9600;
}

.online-indicator-example.online::after {
  background-color: #17bd17;
}

.online-indicator-help-button {
  color: rgb(64, 196, 255);
  cursor: pointer;
  text-decoration: underline;
  display: inline-block;
}

/**** ANALYTICS DASHBOARD ****/
.rt-event-counter {
  min-height: 100px;
  text-align: right;
  padding: 1em;
  cursor: pointer;
}

.rt-event-counter-number {
  font-weight: 300;
  font-size: 50px;
  line-height: 1em;
}

.rt-event-counter-label {
  font-weight: 500;
}

.rt-card-title {
  padding: 16px;
}

.rt-card-title-text {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  font-weight: 300;
}

.rt-card-subtitle-text {
  display: block;
  color: #aeaeae;
  font-size: 0.85em;
  font-weight: 400;
}

/* MTR information*/

.mtr-list-collapsed {
  display: inline;
}

.show-mtr .mtr-list-collapsed {
  display: none;
}

.mtr-list-expanded {
  display: none;
}

.show-mtr .mtr-list-expanded {
  display: inline;
}

/* UPnP device information*/

#mtr-table {
  font-family: 'Roboto Mono';
  color: black;
}

#mtr-table td {
  padding: 2px;
}

.aligned-right {
    text-align: right;
}

.found-device-list-collapsed {
  display: inline;
}

.show-device-information .found-device-list-collapsed {
  display: none;
}

.found-device-list-expanded {
  display: none;
}

.show-device-information .found-device-list-expanded {
  display: inline;
}

button.accordion {
  background-color: #B2DFDB;
  color: black;
  cursor: pointer;
  padding: 9px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.0s;
  font-family: 'Roboto Mono';
  font-size: 16px;
}

button.accordion:nth-of-type(2n) {
  background-color: white;
  color: black;
}

button.accordion.active, button.accordion:hover {
  background-color: #00B79B;
}

div.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: 0.0s ease-in-out;
  opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;
}

button.accordion:after {
    content: '\02795';
    font-size: 10px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796";
}

.material-icons.red500 {
  color: #F44336;
}

.mdl-data-table .material-icons.info-icon {
  opacity: 0.5;
  transition-property: opacity;
  transition-duration: .28s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.mdl-data-table tr:hover .material-icons.info-icon {
  opacity: 1.0;
  cursor: pointer;
}

.alert td {
  text-align: left;
  border: none;
}

.alert h2 {
  line-break: normal;
  line-height: 1.4em;
  font-size: 1.5em;
  margin: 0px;
  margin-bottom:0.2em;
  margin-top: 0.8em;
  white-space: normal;
  padding: 0px;
  color: #f44336;
}

.alert p {
  margin: 0px;
  white-space: normal;
}

.special-character-wrapper {
  color: #ff0000;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
  padding: 1px 5px;
  font-family: monospace;
  font-size: 12px;
}

#diagnostic-router-conflicting-channels-dialog td {
  padding: 0px 10px;
  min-width: 100px;
}

#diagnostic-router-surrounding-networks-dialog td {
  padding: 0px 10px;
}

.surrounding-networks {
  margin-top: 10px;
}

#diagnostic-router-surrounding-networks-dialog .content {
  overflow: auto;
  max-height: 400px
}
#network-topology-device-detail-dialog td {
  padding: 0px 10px;
}

#network-topology-device-detail-dialog h4 {
  margin-bottom: 10px;
}

.frequency-encryption-details {
  color: rgba(0, 0, 0, .54);
  padding: 0 24px;
}

.dialog-subtitle{
  margin-left: 34px;
  margin-bottom: 0px;
  color: rgba(0, 0, 0, .54);
}

.dialog-link {
  margin-left: 34px;
  cursor: pointer;
}

.upload-speed-failed{
  color: #EF6C00;
}

.download-speed-failed{
  color: #EF6C00;
}

.warning-item:not(:first-of-type) {
  margin-top: 10px;
}

.warning-item:last-of-type {
  margin-bottom: 10px;
}

/* New User's Router Section */
@media (min-width:1100px) and (max-width: 1974px) {
  .name-field.new-users-router {
    border-bottom: 1px solid transparent;
    padding-left: 24px;
    max-width: 350px;
    text-overflow: ellipsis;
    overflow-x: hidden;

  }
}

.grouped-networks-row td {
  text-align: left;
  font-weight: bold;
  background: #F5F5F5;
  border-bottom: 1px solid transparent;
}

/* Trace Routes */
#traceroute-details {
  margin-top: 0px;
  overflow-y: auto;
  height: 500px;
  padding-right: 14px;
}

.no-devices-found{
  font-weight: 300;
  margin-top: 0;
  border: rgba(5,5,5,.3) 1px solid;
  border-radius: 1px;
  height: 200px;
  text-align: center;
  line-height: 90px;
  background: rgba(100,100,100,.05);
}
.no-devices-found-subnet{
  font-weight: 300;
  margin-top: 0;
  border: rgba(5,5,5,.3) 1px solid;
  border-radius: 1px;
  height: 200px;
  text-align: center;
  line-height: 90px;
  background: rgba(100,100,100,.05);
}
.no-devices-found-message{
    font-weight: 300;
    margin-top: 75px;
    padding: 10px;
}

/***** NETWORK TOPOLOGY *****/

.network-topology-dialog {
  border: none;
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, .14), 0 11px 15px -7px rgba(0, 0, 0, .12), 0 24px 38px 3px rgba(0, 0, 0, .2);
  max-width: 80%;
}

.network-topology-map {
  width: 1000px;
  margin: 20px 0 20px 20px;
 overflow-x: auto
}

.network-topology-column {
  float: left;
  clear: none;
  text-align: center;
  max-width: 192px;
}

.network-topology-column-small {
  float: left;
  clear: none;
  text-align: center;
  max-width: 140px;
}

.network-topology-column-small .network-topology-box {
  width: 128px;
}

.network-topology-divider {
  display: block;
  height: 3px;
  width: 25px;
  float: left;
  clear: none;
  background-color: #999;
  margin: 60px 2px 0 2px;
  border-radius: 2px;
}

.network-topology-title {
  margin-bottom: 10px;
}

.network-topology-box {
  width: 180px;
  padding: 6px;
  margin-bottom: 5px;
}
.network-topology-container {
  border: 2px solid #999;
  border-radius: 4px;
  padding: 6px;
  margin-bottom: 20px;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}
.network-topology-container-upstream {
  border: 2px solid #999;
  border-radius: 4px;
  padding: 6px;
  margin-bottom: 20px;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

.network-topology-container-title {
  width: 140px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.network-topology-container-messages {
  margin-bottom: 10px;
}

.network-topology-device {
  margin: 15px 0;
}


.network-topology-device i {
  display: none;
  margin-top: 3px;
}

.network-topology-device-ssid {
  word-wrap: break-word;
}

.network-topology-device .connected {
  display: none;
}

.network-topology-device.selected .connected {
  display: inline;
}

.network-topology-device.selected {
  color: #4caf50;
  font-weight: 500;
}
.network-topology-device.selected span {
  color: #4caf50;
  font-weight: 500;
}

.network-topology-device.selected i {
  display: block;
}

.network-topology-clickable {
  cursor: pointer;
}

.network-topology-clickable:hover {
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.network-topology-2-ghz, .network-topology-5-ghz {
  display: none;
  font-size: 11px;
  background-color: #999;
  color: #fefefe;
  border-radius: 5px;
  padding: 2px 4px;
  margin-left: 5px;
  line-height: 1em;
  vertical-align: top;
}

.network-topology-device.selected .network-topology-2-ghz, .network-topology-device.selected .network-topology-5-ghz {
  background-color: #4caf50;
}

.network-topology-location-unknown.selected .network-topology-2-ghz, .network-topology-location-unknown.selected .network-topology-5-ghz {
  background-color: #4caf50;
}

.network-topology-device-2-ghz .network-topology-2-ghz {
  display: inline-block;
}

.network-topology-device-5-ghz .network-topology-5-ghz {
  display: inline-block;
}

.network-topology-location-unknown {
  border: 2px solid #EF6C00;
  border-radius: 4px;
  padding: 6px;
  margin-bottom: 5px;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

.network-topology-location-unknown-title {
  color: #EF6C00;
}

.unknown-ssid{
  font-style: italic;
  color: #EF6C00;
}

.network-topology-container-header {
  border-bottom: 2px solid #999;
  margin-right: -6px;
  margin-left: -6px;
  margin-top: -6px;
  padding-bottom: 10px;
  padding-top: 10px;
  background: #E0E0E0;
}

.network-topology-container-location-unknown-header{
  border-bottom: 2px solid #EF6C00;
  margin-right: -6px;
  margin-left: -6px;
  margin-top: -6px;
  padding-bottom: 10px;
  padding-top: 10px;
  background: #E0F2F1;
}

.mesh-warning{
  color: #EF6C00;
}

.click-for-details{
  margin-top: 4px;
  text-decoration: underline;
  font-size: 11px;
}

.networks-subtitle{
  margin-top: 0px;
  font-size: 11px;
  margin-bottom: 5px;
}

.click-for-details:hover{
  color: rgba(0, 0, 0, .7);
}

.info-outline{
  position: relative;
  top: 5px;
  left: 3px;
  cursor: pointer;
  margin-top: -4px;
  z-index: 20;
  font-size: 20px;
}
.info-outline-warning{
  position: relative;
  top: 5px;
  left: 3px;
  cursor: pointer;
  margin-top: -4px;
  z-index: 20;
  font-size: 20px;
}

.green {
  color: #4caf50;
}

.yellow {
  color: #f7c544;
}

.red {
  color: #c6291c;
}

/* Router Usage */
.router-usage-text {
  display: inline-block;
}

/*
Making all sections collapsable
*/
.analysis-details-collapsed {
  display: inline;
}

.show-analysis-details .analysis-details-collapsed {
  display: none;
}

.analysis-details-expanded {
  display: none;
}

.show-analysis-details .analysis-details-expanded {
  display: inline;
}

.fixed-analysis-wrapper {
  width: calc(100% - 332px);
}

.alerts-collapsed {
  display: inline;
}

.show-alerts .alerts-collapsed {
  display: none;
}

.alerts-expanded {
  display: none;
}

.show-alerts .alerts-expanded {
  display: inline;
}

.server-information-collapsed {
  display: inline;
}

.show-server-information .server-information-collapsed {
  display: none;
}

.server-information-expanded {
  display: none;
}

.show-server-information .server-information-expanded {
  display: inline;
}

.basic-connectivity-collapsed {
  display: inline;
}

.show-basic-connectivity .basic-connectivity-collapsed {
  display: none;
}

.basic-connectivity-expanded {
  display: none;
}

.show-basic-connectivity .basic-connectivity-expanded {
  display: inline;
}

.basic-connectivity-modal-subtitle {
  margin-left: 28px;
}

.password-check-collapsed {
  display: inline;
}

.show-password-check .password-check-collapsed {
  display: none;
}

.password-check-expanded {
  display: none;
}

.show-password-check .password-check-expanded {
  display: inline;
}

.port-connectivity-collapsed {
  display: inline;
}

.show-port-connectivity .port-connectivity-collapsed {
  display: none;
}
.port-connectivity-expanded {
  display: none;
}

.show-port-connectivity .port-connectivity-expanded {
  display: inline;
}

.network-topology-collapsed {
  display: block;
}

.show-network-topology .network-topology-collapsed {
  display: none;
}

.network-topology-expanded {
  display: none;
}

.show-network-topology .network-topology-expanded {
  display: block;
}

.range-extender-collapsed {
  display: inline;
}

.show-range-extender .range-extender-collapsed {
  display: none;
}

.range-extender-expanded {
  display: none;
}

.show-range-extender .range-extender-expanded {
  display: inline;
}

.users-router-collapsed {
  display: inline;
}

.show-users-router .users-router-collapsed {
  display: none;
}

.users-router-expanded {
  display:none;
}

.show-users-router .users-router-expanded {
  display:inline;
}

.user-router-details-wrapper {
  font-size: 12px;
}

.connected-device-collapsed {
  display: inline;
}

.show-connected-device .connected-device-collapsed {
  display: none;
}

.connected-device-expanded {
  display: none;
}

.show-connected-device .connected-device-expanded {
  display: inline;
}

.network-performance-collapsed {
  display: inline;
}

.show-network-performance .network-performance-collapsed {
  display: none;
}

.network-performance-expanded {
  display: none;
}

.show-network-performance .network-performance-expanded {
  display: inline;
}

.screenshots-collapsed {
  display: inline;
}

.show-screenshots .screenshots-collapsed {
  display: none;
}

.screenshots-expanded {
  display: none;
}

.show-screenshots .screenshots-expanded {
  display: inline;
}

.your-devices-collapsed {
  display: block;
}

.show-your-devices .your-devices-collapsed {
  display: none;
}

.your-devices-expanded {
  display: none;
}

.show-your-devices .your-devices-expanded {
  display: block;
}

#firewall-parental-controls-dialog {
  top: 100px;
  min-height: 300px;
}

#firewall-table-container {
  overflow-y: scroll;
  height: 300px;
}

.firewall-details {
  margin-top: 30px;
}

#firewall-details-dialog-sub-tab {
  margin-left: -38px;
  margin-right: -38px;
  margin-bottom: 10px;
  height: 1px;
  background: black;
  z-index: 93;
  position: inherit;
  margin-top: -1px;
}

#firewall-details-dialog-information {
  min-height: 150px;
}

#firewall-details-dialog-information td {
  padding: 0px 10px;
}

.flip {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.server-connectivity-row,
.port-check-row,
.dns-lookup-row {
  cursor: pointer;
}

.port-messaging,
.server-messaging {
  font-weight: bold;
  margin-top: 30px;
}

#device-details-dialog-sub-tab {
  margin-left: -38px;
  margin-right: -38px;
  margin-bottom: 10px;
  height: 1px;
  background: black;
  z-index: 93;
  position: inherit;
  margin-top: -1px;
}

#device-details-dialog-device-information {
  min-height: 150px;
}

#new-device-details-dialog-sub-tab {
  margin-left: -38px;
  margin-right: -38px;
  margin-bottom: 10px;
  height: 1px;
  background: black;
  z-index: 93;
  position: inherit;
  margin-top: -1px;
}

#new-device-details-dialog-device-information {
  min-height: 150px;
}

#new-device-details-dialog-device-information td {
  padding: 0px 10px;
}

#dns-lookup-details-dialog-sub-tab {
  margin-left: -38px;
  margin-right: -38px;
  margin-bottom: 10px;
  height: 1px;
  background: black;
  z-index: 93;
  position: inherit;
  margin-top: -1px;
}

#found-device-list .entry {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

#found-device-list-wrapper {
  overflow-x: auto;
}

dialog#network-analysis-information-dialog img {
  width: inherit;
}

.grey-backcolor {
  background-color: #eee;
}

.connection-quality {
  text-align: center;
  padding: 10px;
  width: 280px;
}

.connection-quality-bar {
  width: 100%;
  height: 6px;
  position: relative;
  margin-top: 10px;
  margin-bottom:10px;
}

.connection-quality-bar-left {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 66.66%;
  background-color: #D60000;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.connection-quality-bar-center {
  position:  absolute;
  left: 33.33%;
  top: 0;
  bottom: 0;
  right: 33.33%;
  background-color: #FFC400;
}

.connection-quality-bar-right {
  position: absolute;
  left:66.66%;
  top: 0;
  bottom: 0;
  right: 0%;
  background-color: #339551;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.connection-quality-bar-tick-1 {
  background-color: #E0E0E0;
  width: 2px;
  border-radius: 2px;
  position:absolute;
  left: calc(33.33% - 1px);
  top: -3px;
  bottom: -3px;
}

.connection-quality-bar-tick-2 {
  background-color: #E0E0E0;
  width: 2px;
  border-radius: 2px;
  position:absolute;
  left: calc(66.66% - 1px);
  top: -3px;
  bottom: -3px;
}

.connection-quality-bar-actual {
  position: absolute;
  width: 3px;
  top: -8px;
  bottom: -8px;
  background-color: #000;
}

.connection-quality-text {
  font-size: 1.1em;
  margin:10px 0;
}

.connection-quality-alt .connection-quality-text {
  font-size: 1em;
}

.connection-quality-offline-text {
  font-size: 1.1em;
}

.connection-quality-note {
  max-width: 100%;
  white-space: normal;
  color: #A10000;
  display: inline-block;
}

.connection-quality-note i {
  display: inline-block;
  float: left;
  margin-right: 3px;
}

.connection-quality-note div {
  display: inline-block;
  margin-top: 4px;
}

.link {
  color: rgb(64, 196, 255);
  cursor: pointer;
  text-decoration: underline;
}

.connection-quality.good { color: #4DB051; }
.connection-quality.moderate { color: #FF9D23; }
.connection-quality.bad { color: #FE0102; }

.connection-quality.good     .connection-quality-bar-right { opacity: 1; }
.connection-quality.moderate .connection-quality-bar-right { opacity: 0.4; }
.connection-quality.bad      .connection-quality-bar-right { opacity: 0.4; }

.connection-quality.good     .connection-quality-bar-center { opacity: 0.4; }
.connection-quality.moderate .connection-quality-bar-center { opacity: 1; }
.connection-quality.bad      .connection-quality-bar-center { opacity: 0.4; }

.connection-quality.good     .connection-quality-bar-left { opacity: 0.4; }
.connection-quality.moderate .connection-quality-bar-left { opacity: 0.4; }
.connection-quality.bad      .connection-quality-bar-left { opacity: 1; }

.connection-quality.good     .connection-quality-bar-actual { background-color: #339551; }
.connection-quality.moderate .connection-quality-bar-actual { background-color: #FFAC00; }
.connection-quality.bad      .connection-quality-bar-actual { background-color: #D60000; }

/**
  * PING RESULTS
  *
*/

#ping-results-subtitle {
  margin-left: 26px;
}

.ping-results-warning-div {
  margin-bottom: 20px;
}

.ping-results-warning {
  font-weight: 300;
  font-size: 11px;
}

.ping-result-link {
  text-decoration: none;
}

p.mdl-dialog__title.title span {
  line-height: 1.25em;
}

#ping-result-dialog.mdl-dialog {
  max-width: 750px;
  top: 10%;
}

#results-inner {
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 5px;
  overflow-y: scroll;
  background-color: #f6f6f6;
  height: 400px;
  font-family: monospace;
}

#ping-results-inner tr {
  cursor: pointer;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

/**
 * TRACEROUTES
 */
#traceroutes-inner {
  margin-left: 20px;
  padding-left: 5px;
  height: 400px;
  overflow-y: scroll;
  background-color: #f6f6f6;
 }

#traceroute-single-dialog.mdl-dialog {
  max-width: 775px;
 }

.traceroute-link {
  text-decoration: none;
  cursor: pointer;
}

#multiple-traceroutes-inner tr {
  cursor: pointer;
}

/**
 * REMOTE CONNECTION QUALITY
 */
 #remote-connection-quality-inner {
   border: 1px solid rgba(0, 0, 0, .12);
   text-align: center;
   width: 100%;
 }

 .remote-connection-quality-flex {
   display: flex;
   position: relative;
   justify-content: center;
 }

 .remote-connection-quality-warning-div {
   margin-bottom: 10px;
 }

 #high-utilization-alert {
   position: absolute;
   top: 20px;
   left: 70px;
   padding: 0 15px 25px 15px;;
   min-height: 143px;
   width: 80%;
   text-align: left;
   background-color: rgba(188,109,96,0.9);
   border: 2px solid #c6291c;
   border-radius: 3px;
   z-index: 999;
 }

  #incomplete-data-alert {
    position: absolute;
    top: 20px;
    left: 70px;
    padding: 20px 15px;
    min-height: 123px;
    width: 80%;
    text-align: left;
    background-color: rgba(188,109,96,0.9);
    border: 2px solid #c6291c;
    border-radius: 3px;
    z-index: 999;
  }

 #high-utilization-alert h6,
 #incomplete-data-alert h6 {
   margin-top: 0;
   color: #000;
   font-size: 1.25rem;
 }

 #high-utilization-alert p,
 #incomplete-data-alert p {
   margin-bottom: 0;
   color: #000;
   font-size: 1.15rem;
 }

 .dismissal {
   margin-top: 10px;
   float: right;
   color: #fff;
   font-size: 1.15rem;
   display: block;
   width: 100%;
   text-align: right;
 }

 .dismissal span {
   cursor: pointer;
 }

 .transparency {
   opacity: 0.3;
 }

 .utilization-link {
   text-decoration: underline;
 }

 #remote-connection-quality-legend {
   position: absolute;
   right: 10px;
   top: 10px;
   height: 145px;
   width: 160px;
   padding-left: 20px;
   border: 1px solid rgba(0, 0, 0, .12);
   text-align: left;
 }

 #remote-connection-quality-legend h6 {
   margin-top: 12px;
 }

.connection-quality-items {
  padding-left: 0;
  margin-bottom: 0;
}

.connection-quality-items li {
  list-style: none;
}

 .connection-quality-items li::before {
   display: inline-block;
   content: '';
   height: 10px;
   width: 10px;
   margin-right: 10px;
 }

 .connection-quality-items li:first-of-type::before {
   background-color: #509258;
 }

 .connection-quality-items li:nth-of-type(2)::before {
   background-color: #f7c544;
 }

 .connection-quality-items li:nth-of-type(3)::before {
   background-color: #c6291c;
 }

 .remote-connection-col {
   margin-top: 101px;
    display: flex;
    justify-content: center;
 }

 .remote-connection-col-1 {
   display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex-shrink: 0;
    width: 350px;
    background: url(../img/remote-connection-quality/roof.svg) no-repeat;
    background-position: top;
    background-size: contain;
    align-items:stretch;
    justify-content: flex-start;
    padding-top:152px;
 }

.remote-connection-col-2 {
  display: flex;
  flex-direction: column;
  margin-left: -20px;
  padding-top: 152px;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
 }

 .inhome-walls {
   background: url(../img/remote-connection-quality/walls.svg) repeat-y;
   flex-grow: 1;
   flex-shrink: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   background-size: 100% 6px;
 }

 .inhome-wrapper {
   display: flex;
   flex-direction: column;
   margin-left: 7px;
   justify-content: center;
   align-items: center;
 }

 .inhome-floor {
   background: url(../img/remote-connection-quality/bottom.svg) no-repeat;
   background-size:100% 100%;
   height: 9px;
   flex-grow: 0;
   flex-shrink: 0;
 }

 .question-mark-great {
   background: url('../img/remote-connection-quality/question-great.svg') no-repeat;
   background-size: cover;
   width: 20px;
   height: 20px;
   cursor: pointer;
   margin: 8px;
 }

 .question-mark-moderate {
   background: url('../img/remote-connection-quality/question-moderate.svg') no-repeat;
   background-size: cover;
   width: 20px;
   height: 20px;
   cursor: pointer;
   margin: 8px;
 }

 .question-mark-poor {
   background: url('../img/remote-connection-quality/question-poor_.svg') no-repeat;
   background-size: cover;
   width: 20px;
   height: 20px;
   cursor: pointer;
   margin: 8px;
 }

 .connection-line {
   cursor: pointer;
 }

 .inhome-connection-line {
   position: relative;
   width: 150px;
   height: 5px;
   margin-top:15px;
   margin-left: -7px;
   margin-right: 2px;
 }

 .inhome-connection-quality-text {
   margin-left: -20px;
 }

 .inhome-connection-setup,
 .inhome-connection-quality-text,
 .outhome-item,
 .outhome-connection-quality-text {
   cursor: pointer;
 }

 .outhome-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   min-height: 200px;
 }

 .inhome-wrapper .question-mark-great,
 .inhome-wrapper .question-mark-moderate,
 .inhome-wrapper .question-mark-poor {
   margin-left: -20px;
   margin-bottom: -10px;
 }

 .inhome-setup {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   cursor: pointer;
   margin-top: -10px;
 }

 .phone-icon {
   height: 50px;
   width: 50px;
 }

 .router-icon {
   width: 80px;
   height: auto;
 }

 .outhome-connection-line {
   position: relative;
   width: 175px;
   height: 5px;
   margin-right: 4px;
}

.cloud-icon {
  height: 33px;
}

.outhome-connection-quality-text {
  text-align: center;
}

/*
 * Wraps the outside of an element and its children
 */
.outhome-outside-wrapper {
  display:flex;
  flex-direction: row;
}

/*
 * Wraps a connection quality (or a child connection quality)
 */
.outside-item-wrapper,.child-item-wrapper {
  /* outline: 1px dotted; */
  margin-right: 8px;
}

/*
 * The wrapper around the "horizonal" part of the connection quality item
 */
.outhome-item {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding-top:14px;
}

/*
 * The text of a connection quality item - this is BELOW outhome-item
 */
.outhome-connection-quality-text {
  width: 243px;
  padding: 2px;
}

/*
 * The vertical piece of a connection quality item - it contains the questionmark and the line
 */
.outhome-item-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom:12px
}


#remote-connectivity-connection-quality-help-string.great, .remote-connectivity-connection-quality-help-string.great {
  color: #4DB051;
}

#remote-connectivity-connection-quality-help-string.moderate, .remote-connectivity-connection-quality-help-string.moderate {
  color: #EF6C00;
}

#remote-connectivity-connection-quality-help-string.poor, .remote-connectivity-connection-quality-help-string.poor {
  color: red;
}

#remote-connectivity-connection-quality-help-link, .remote-connectivity-connection-quality-help-link {
  color: rgb(64, 196, 255);
  text-decoration: underline;
}

#utilization-link {
  cursor: pointer;
  text-decoration: underline;
}

a.utilization-link {
  font-weight: normal;
  color: rgba(0, 0, 0, .54);
}

.technical-help-text {
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
  text-decoration: underline;
  font-weight: 500;
  color: rgb(64, 196, 255);
  cursor: pointer;
}

@media (max-width: 1345px) {
   #remote-connection-quality-inner {
    overflow-x: scroll;
  }

  .remote-connection-quality-flex {
    justify-content: flex-start;
  }

  .outhome-connection-quality-text {
    font-size: 12px;
    width: 200px;
  }

  .outhome-connection-line {
    width: 150px;
  }

  .cloud-icon {
    height: 25px;
  }

  .remote-connection-col-1 {
    width: 270px;
    padding-top: 117px;
  }
  .remote-connection-col-2 {
    padding-top:117px;
    margin-left: -17px;
  }

  .inhome-wrapper {
    margin-left: -3px;
  }

  .inhome-connection-line {
    width: 120px;
    height: 5px;
  }

  .inhome-connection-quality-text {
    font-size:12px;
  }

  .phone-icon {
    height: 40px;
    width: 40px;
  }

  .router-icon {
    width: 60px;
    height: auto;
  }
}

/**
 * REMOTE CONNECTIVITY
 */
.modal-prompt {
  display: inline-block;
  margin-bottom: 20px;
}

.remote-connectivity-warning-div {
  margin-bottom: 20px;
}

.remote-connectivity-modal-spacer {
  width: 20px;
}

.legend-box {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  margin-right: 5px;
}

.master-wrapper {
  width: 250px;
}

.master-wrapper.larger {
  width: 300px;
}

.legend-wrapper {
  display: inline-block;
  width: 50%;
  margin-top: 20px;
}

.row-focus td {
  animation: colorFade 2s ease-in-out;
  -webkit-animation: colorFade 2s ease-in-out;
  -moz-animation: colorFade 2s ease-in-out;
}

.row-focus-connected td {
  animation: colorFade 2s ease-in-out;
  -webkit-animation: colorFade 2s ease-in-out;
  -moz-animation: colorFade 2s ease-in-out;
}

@keyframes colorFade {
  0% { background-color: rgba(0, 191, 165, 0) }
  10% { background-color: rgba(0, 191, 165, 0.4) }
  20% { background-color: rgba(0, 191, 165, 0) }
  30% { background-color: rgba(0, 191, 165, 0.4) }
  100% { background-color: rgba(0, 191, 165, 0) }
}

@-webkit-keyframes colorFade {
  0% { background-color: rgba(0, 191, 165, 0) }
  10% { background-color: rgba(0, 191, 165, 0.4) }
  20% { background-color: rgba(0, 191, 165, 0) }
  30% { background-color: rgba(0, 191, 165, 0.4) }
  100% { background-color: rgba(0, 191, 165, 0) }
}

@-moz-keyframes colorFade {
  0% { background-color: rgba(0, 191, 165, 0) }
  10% { background-color: rgba(0, 191, 165, 0.4) }
  20% { background-color: rgba(0, 191, 165, 0) }
  30% { background-color: rgba(0, 191, 165, 0.4) }
  100% { background-color: rgba(0, 191, 165, 0) }
}

@keyframes colorFadeConnected {
  0% { background-color: rgba(0, 191, 165, 0) }
  50% { background-color: rgba(0, 191, 165, 0.4) }
  100% { background-color: rgba(0, 191, 165, 0) }
}

@-webkit-keyframes colorFadeConnected {
  0% { background-color: rgba(0, 191, 165, 0) }
  50% { background-color: rgba(0, 191, 165, 0.4) }
  100% { background-color: rgba(0, 191, 165, 0) }
}

@-moz-keyframes colorFadeConnected {
  0% { background-color: rgba(0, 191, 165, 0) }
  50% { background-color: rgba(0, 191, 165, 0.4) }
  100% { background-color: rgba(0, 191, 165, 0) }
}

.connected-row {
  background-color: rgb(234, 255, 251);
}

.remote-connectivity-warning {
  font-weight: 300;
  font-size: 11px;
}

#proxy-pane-minimized {
  position: fixed;
  bottom: -10px;
  left:0; right:0;
  z-index: 50;
}

#proxy-pane-minimized-inner {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background: #ffffff;
  padding: 1.2em;
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
  font-size: 2em;
  font-weight: 300;
  position: relative;
  margin-bottom: 10px;
}

#proxy-pane-minimized-inner i {
  font-size: 1.2em;
  position: relative;
  top: 6px;
}

#proxy-pane-minimized-inner button {
  position:absolute;
  right: 2em;
}

.mdl-button.route-this-button {
  color: #fff;
  background-color: #00BFA5;
  margin-left: 2px;
  margin-right: 2px;
}

.mdl-button.route-this-button:focus,
.mdl-button.route-this-button:active {
  background-color: #00BFA5;
}

.mdl-button.route-this-button.big-button {
  font-size: 18px;
  height: 58px;
  width: 205px;
}

.mdl-progress.proxy-loading {
  width: 100%;
  margin-bottom: 5px;
}

.mdl-progress.proxy-loading > .progressbar {
  background-color: rgb(115, 115, 115);
}

.mdl-progress.proxy-loading > .bufferbar {
  background-image: linear-gradient(to right, rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)), linear-gradient(to right, rgb(209, 209, 209), rgb(209, 209, 209));
}

.mdl-progress.proxy-loading:not(.mdl-progress--indeterminate):not(.mdl-progress--indeterminate)>.auxbar {
  background-color: rgba(0,0,0,0);
  background-image: none;
}

.router-age-warning {
  color: red;
  font-weight: bold;
}
.speed-test-graph-wrapper {
  padding-bottom: 1.5em;
}
.tab-button {
  opacity: 1;
  height: 41px;
  background-color: lightgray;
  cursor: pointer;
  position: relative;
  border: 0px;
  border: 1px solid black;
  border-bottom:  0px;
  padding:10px;
  z-index: 10;
}
.tab-button.left{
  border-top-left-radius: 2px;
  left: 3px;
}
.tab-button.right{
  border-top-right-radius: 2px;
  right: 3px;
}
.tab-button:hover{
  opacity: 0.7;
}
.tab-button:focus{
  outline: none;
}
.tab-button:active{
  background-color: darkgray;
}
.tab-button.disabled{
  opacity: 0.2;
}


.fab {
  display: flex;
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: #01bfa5;
  width: 60px;
  height: 60px;
  z-index: 99;
  border-radius: 100px;
  color: white;
  align-items:  center;
  justify-content:  center;
  cursor: pointer;
}
.mdl-card:hover > .pdf-button-wrapper > .partial-pdf-button{
  opacity: 1;
  transition: 0.3s;
}
.partial-pdf-button:hover {
  opacity: 1;
  background-color: rgb(203, 202, 202);
  transition: 0.3s;
}
.partial-pdf-button {
  opacity: 0;
  background-color: #c4c4c4;
  position: absolute;
  border: 0;
  color: gray;
  cursor: pointer;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  transition: 0.2s;
}
.pdf-button-wrapper {
  position: relative;
  left: calc(100% - 30px);
  bottom: 10px;
}
.partial-pdf-button:focus {
  outline: none;
}
.partial-pdf-button > i {
  font-size: 18px;
  color: black;
}
.partial-pdf-button.pdf-loading {
  opacity: 1;
}
.dialog-pdf-button {
  position: absolute;
  top: -18px;
  right: -18px;
  background-color: #c4c4c4;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
@keyframes lds-bricks {
  0% {
    top: 30px;
    left: 110px;
  }
  8.3% {
    top: 110px;
    left: 110px;
  }
  25% {
    top: 110px;
    left: 110px;
  }
  33.3% {
    top: 110px;
    left: 30px;
  }
  50% {
    top: 110px;
    left: 30px;
  }
  58.3% {
    top: 30px;
    left: 30px;
  }
  75% {
    top: 30px;
    left: 30px;
  }
  83.3% {
    top: 30px;
    left: 110px;
  }
  100% {
    top: 30px;
    left: 110px;
  }
}
@-webkit-keyframes lds-bricks {
  0% {
    top: 30px;
    left: 110px;
  }
  8.3% {
    top: 110px;
    left: 110px;
  }
  25% {
    top: 110px;
    left: 110px;
  }
  33.3% {
    top: 110px;
    left: 30px;
  }
  50% {
    top: 110px;
    left: 30px;
  }
  58.3% {
    top: 30px;
    left: 30px;
  }
  75% {
    top: 30px;
    left: 30px;
  }
  83.3% {
    top: 30px;
    left: 110px;
  }
  100% {
    top: 30px;
    left: 110px;
  }
}
.lds-bricks {
  position: relative;
}
.lds-bricks div {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 6px;
  -webkit-animation: lds-bricks 1.9s linear infinite;
  animation: lds-bricks 1.9s linear infinite;
}
.lds-bricks div:nth-child(1) {
  background: #01bfa5;
  -webkit-animation-delay: -0.475s;
  animation-delay: -0.475s;
}
.lds-bricks div:nth-child(2) {
  background: #087767;
  -webkit-animation-delay: -1.108333333333333s;
  animation-delay: -1.108333333333333s;
}
.lds-bricks div:nth-child(3) {
  background: #4bf1db;
  -webkit-animation-delay: -1.741666666666666s;
  animation-delay: -1.741666666666666s;
}
.lds-bricks {
  width: 94px !important;
  height: 94px !important;
  -webkit-transform: translate(-47px, -47px) scale(0.47) translate(47px, 47px);
  transform: translate(-47px, -47px) scale(0.47) translate(47px, 47px);
}
#analysis-scanning {
  width: calc(100% - 332px);
  margin: 0 auto;
}
#analysis-scanning h3 {
  color: #bbbbbb;
  font-size: 25px;
  text-align: center;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    background-color: rgb(230, 230, 230);
    border: 0;
    margin: 0;
  }
  body, html {
    height: 100%;
  }
  #main {
    overflow-y: visible;
    overflow-x: visible;
  }
  .rt-layout, .mdl-layout__container {
    height: auto;
    display: block;
  }
  .mdl-layout__content {
    display: block;
  }
  .rt-header {
    display: none;
  }
  .rt-page-margin {
    margin: 0;
    margin-right: 12px;
  }
  .drop-up, .drop-down {
    display:none;
  }

  main.rt-content {
    background: none !important;
  }

  .fixed-event-feed {
    display: none;
  }

  .mdl-card {
    page-break-inside: avoid;
    page-break-before: always;
    page-break-after: always;
  }
  .mdl-card__supporting-text {
    page-break-inside: avoid;
    /*page-break-before: avoid;*/
  }
  .mdl-cell {
    page-break-inside: avoid;
  }
  h1, h2, h3 {
    page-break-before: always;
  }
  #analysis-wrapper,
  #workflow-wrapper{
    width:100%;
  }
  body.hide-pdf .mdl-card:not(.force-show-pdf) {
    display: none
  }
  td {
    text-align: left;
    padding-left: 0;
  }
  img {
    page-break-inside: avoid;
  }
  .bottom_right, .fab, .link, .partial-pdf-button, #screenshot-full, .dialog-pdf-button {
    display: none;
  }
  .screenshot-wrapper {
    width:100%;
    height: 1000px;
    border: 0 !important;
    page-break-inside: avoid;
  }
  #screenshot-list {
    display: inline;
  }
  #print-dialog-stage-inner > pre, #print-dialog-stage-inner > div, #print-dialog-stage-inner > div > div {
    overflow-y: visible;
    height: auto;
  }
  .remote-connection-col,
  .technical-help-text,
  #remote-connection-quality-legend {
    opacity: 1;
  }
  #remote-connection-quality-inner {
    overflow-x: visible;
  }
}

#remote-connection-quality-ping-dialog {
  top: 15%;
  height: auto;
}

#remote-connection-quality-ping-dialog .raw-ping-result {
  margin-top:1.5em;
}


/** TABS TABS TABS TABS TABS TABS TABS TABS TABS TABS TABS TABS TABS TABS */
/** TABS TABS TABS TABS TABS TABS TABS TABS TABS TABS TABS TABS TABS TABS */
/** TABS TABS TABS TABS TABS TABS TABS TABS TABS TABS TABS TABS TABS TABS */

.tab-and-button-container>div {
  overflow-x: auto;
  white-space: nowrap;
  display: inline-flex;
  max-width: calc(100% - 75px);
  padding-top: 10px;
  position: relative;
}

.tab-and-button-container>div::-webkit-scrollbar{
  display:none;
}

.tab-and-button-container .tab {
  float: left;
  padding: 10px;
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-left: 1px solid;
  background-color: #F8F8F8;
  position: relative;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.tab-and-button-container .tab:first-of-type {
  border-top-left-radius: 2px;
}

.tab-and-button-container .tab:last-of-type {
  border-top-right-radius: 2px;
  border-right: 1px solid;
}
.tab.last {
  border-top-right-radius: 2px;
  border-right: 1px solid;
}
.tab-and-button-container .tab.selected {
  border-bottom: 1px solid white;
  background-color: #FFFFFF;
}

.tab-bottom-line {
  margin-left: -38px;
  margin-right: -38px;
  margin-bottom: 10px;
  height: 1px;
  background: black;
  z-index: 93;
  position: inherit;
  margin-top: -1px;
}

/***************/
/** WORKFLOWS **/
/***************/
#workflow-wrapper {
  color: #000;
}
.workflow-card {
  width: 100%;
  padding: 2em;
}

#workflow-inner {
  display: flex;
  min-height: 350px;
}

.workflow-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

#workflow-wrapper .workflow-btn {
  background-color: #ffffff;
  text-align: center;
  padding: 0.5em 1.5em;
  transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;

  margin-left: 10px;
  color: #009688;
  font-weight: 300;

  line-height: 1.2em;
  font-size: 1.2em;
  border-radius: 2px;
  cursor: pointer;
}
#workflow-wrapper .workflow-btn:hover {
  background-color: #E0F2F1;
}

#workflow-wrapper .workflow-btn-alt {
  color: #fff;
  background-color: #009688;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#workflow-wrapper .workflow-btn-alt:hover {
  background-color: #009688;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/** Symptom Launch Screeen **/

#workflow-symptom-title {
  text-align: center;
  font-size: 1.7em;
  margin-bottom: 20px !important;
  margin-top: 20px !important;
  font-weight: 300;
}

.symptom-choice-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.symptom-choice {
  background: #009688;
  color: #fff;
  width: calc(50% - 26px);
}

.symptom-choice,
.symptom-no-choice {
  height: 70px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(143,142,142,1);
  -moz-box-shadow: 0px 3px 5px 0px rgba(143,142,142,1);
  box-shadow: 0px 3px 5px 0px rgba(143,142,142,1);
  cursor: pointer;
}

.symptom-choice:nth-child(odd) {
  margin-right: 40px;
}

.symptom-choice p,
.symptom-no-choice p {
  padding-left: 30px;
  margin-bottom: 0;
  font-size: 1.4em;
  font-weight: 300;
}

.symptom-no-choice {
  border: 1px solid #b7b7b7;
  width: calc(50% - 26px);
}

.active-choice {
  background: #26A69A;
  border: 3px solid #26A69A;
}

/** Total Alerts Screeen **/

.total-alerts {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #b2dfdb;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.total-alerts {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 0;
}

.total-alerts-number {
  font-weight: 600;
}

#alerts-top-text {
  align-self: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#progress-symptom-title-text {
  margin-top:0;
  font-size: 2em;
  font-weight: 400;
  text-align:center;
  align-self: center;
}

#alerts-choice-text {
  font-size: 1.4em;
  align-self: center;
}

#alerts-bottom-text {
  font-size: 1.4rem;
  max-width: 255px;
  align-self: center;
  display: initial;
  font-weight: 300;
  line-height: 1.4em;
  margin-top: 1em;
}

.workflow-alerts-wrapper {
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/** Alert Progression **/

#workflow-progress-title,
#workflow-success-title,
#workflow-fail-title,
#workflow-problem-title,
#workflow-confirm-title,
#workflow-progress-subtitle,
#workflow-problem-subtitle,
#workflow-confirm-subtitle {
  text-align: center;
}

#workflow-progress-title {
  font-size: 2em;
  margin-bottom: 0.4em;
  font-weight:300;
}
#workflow-success-title,
#workflow-fail-title,
#workflow-problem-title,
#workflow-confirm-title {
  margin-top: -12px;
  font-size: 2.4em;
}

#workflow-progress-subtitle,
#workflow-problem-subtitle,
#workflow-confirm-subtitle  {
  font-size: 1.3em;
  padding-top: 0.4em;
  font-weight: 300;
  margin-bottom: 0;
}

.steps-to-take-text-wrapper {
  padding: 1em 0 1em 1em;
  margin-bottom: 1em;
  margin-right: 1em;
  border-left: 5px solid #00bfa5;
  background: -moz-linear-gradient(-45deg, rgba(224,242,241,1) 0%, rgba(224,242,241,1) 38%, rgba(224,242,241,0) 66%, rgba(224,242,241,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(224,242,241,1) 0%,rgba(224,242,241,1) 38%,rgba(224,242,241,0) 66%,rgba(224,242,241,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(224,242,241,1) 0%,rgba(224,242,241,1) 38%,rgba(224,242,241,0) 66%,rgba(224,242,241,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f2f1', endColorstr='#00e0f2f1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.timeline-wrapper {
  display: flex;
  flex-direction: column;
}

.timeline-circle-wrapper {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-top: -20px;
}

#timeline {
  width: 100%;
  height: 10px;
  background: #e1e1e1;
  margin-top: 20px;
}

#timeline-progress {
  height: 10px;
  background: #4caf50;
  margin-top: -10px;
}

.timeline-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-circle {
  margin-bottom: 0;
}

.timeline-alert-banner {
  background: #e0f2f1;
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 20px;
  margin-top: 20px;
}

.alert-success-icon,
.alert-fail-icon,
.alert-number {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-success-icon,
.alert-fail-icon,
.alert-number {
  margin-bottom: 0;
}

.alert-success-title,
.alert-fail-title,
.alert-title {
  margin-bottom: 0;
}

.alert-text {
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #b7b7b7;
  flex-grow: 1;
}

.alert-text {
  margin-bottom: 0;
}

.alert-text.diagnosis-complete-fail {
  border: none;
}

.no-workflow {
  font-size: 1.4em;
  text-align: center;
  font-weight: 300;
  border: none;
  line-height: 1.3em;
}

#workflow-wrapper table {
  border-collapse: collapse;
  margin-bottom: 1em;
  font-size:14px;
}

#workflow-wrapper tr {
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
}

#workflow-wrapper tr:nth-of-type(even) {
  background-color: #eee;
}

#workflow-wrapper td, #workflow-wrapper th {
  text-align: left;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  padding: 0.5em 1em;
}

#workflow-wrapper td small {
  font-size: 0.9em;
}

#workflow-wrapper td.center, #workflow-wrapper th.center {
  text-align: center;
}

#workflow-wrapper th {

}

#workflow-wrapper i.icon {
  color: #666;
  padding-left:6px;
}

#new-device-details-name {
  overflow: hidden;
  white-space: nowrap;
  width: 90%;
  text-overflow: ellipsis;
  display: inline-block;
}

#speed-test-down-row {
  cursor: pointer;
}

#speed-test-up-row {
  cursor: pointer;
}

.speed-test-canvas{
  height: 79px !important;
  max-width: 425px;
  min-width: 100px;
  width: 100%;
  border-bottom: 1px solid rgb(191, 191, 191);
  float:right;
}

#analysis-access-denied {
  text-align: center;
  color: #666;
}

#analysis-access-denied img {

}

#analysis-access-denied h1 {
  font-size: 2.2em;

}
#analysis-access-denied h2 {
  font-size: 1.8em;
}

#workflow-nav {
  margin-right: 20px;
  background: #b2dfdb;
  margin-bottom: 0;
  position:relative;
  width: 240px;
  height:40px;
  border-radius: 2px;
}

#workflow-nav select {
  position: absolute;
  display: block;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: none;
  border: none;
  -webkit-appearance: none;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  padding: 0 1em;
}

#workflow-nav select {
  outline: none;
}

#workflow-nav i {
  pointer-events: none;
  position:absolute;
  right:12px;
  top:calc(50% - 12px);
  font-size: 24px;
  color: #333;
}

.analysis-switch {
  color: rgb(64, 196, 255);
  font-weight: 500;
  cursor:pointer;
}
