				<!------END OF CHART OR COMMENT-------------->

            </pre>

        </div>

<div class='col-md-5' >
<br/>
<a href='#' style='float:left;$NONE2' data-toggle='modal' data-target='#linkTracker'><font color='blue'>Is this a Project? 	 </font> <u>Yes</u> &nbsp;&nbsp; | &nbsp;&nbsp;</a>
<a href='#' style='float:left;$NONE2' onclick='promptForChange();'><font color='blue'>Is this a Change?</font> <u>Yes</u></a>
<br/>


<pre >

<table style='margin-top:-50px; width:100%'>
<tr>
<td>

<select id='cstatus' $DISABLED onchange='show_section(this.value);' style='margin-left:-170px;'>
<option value='$case1'>$Status1</option>
<option value='2'>ASSIGN</option>
<option value='3'>WIP</option>
<option value='4'>RESOLVED</option>
<option value='5' $CLOSE_HIDE>$CLOSE_TEXT</option>
<option value='6'>SUSPEND</option>
<option value='7'>CANCELLED</option>
</select>
$resume_radio
</td>




<td> <div style='margin-top:18px;height:20px;margin-left:-70px;background-color:yellow;color:#000;'><b>$WHO_IS_ON_IT</b></div>
</td>
</tr>
<tr><td colspan='2'><table><tr><td colspan='2'><div id='assign_users'></div></td></tr></table></td></tr>
<tr><td colspan='2'><table><tr><td colspan='2'><div id='restypec' style='display:none'>
<select id='restype' style='float:left'><option value=''>---Select Resolution type---</option><option value='Advise/Education'>Advise/Education</option><option value='Refer to client'>Refer to client</option><option value='Refer to resolution details'>Refer to resolution details</option><option value='Request Met'>Request Met</option></select></div></td></tr></table></td></tr>
<tr><td colspan='2'><table><tr><td colspan='2'><div id='resump'></div></td></tr></table></td></tr>
<tr><td colspan='2'><table><tr><td colspan='2'><div style='height:5px;'></div></td></tr></table></td></tr>

<tr><td colspan='2'><table><tr><td colspan='2'><textarea  rows='3' id='root_cause' Placeholder='Enter Root Cause' style='width:197%;display:none'  ></textarea></td></tr></table></td></tr>
<tr><td  colspan='2'><table><tr><td colspan='2'><div id='comm'><textarea  rows='3' id='comm1' Placeholder='Enter A Comment Here' style='width:197%;'  ></textarea></div></td></tr></table></td></tr>
<tr><td colspan=''><table><tr><td colspan=''><div style='height:5px;'><div id ='close' style='margin-left:-460px; margin-top:-50px;' >
								
    are you satisfied with the solution?
    <input type='hidden' value='$Who_is_working_on' id='assign_agent1'>
     <img src='../thumbs up.pgn.png' onclick=\"save_ticket_status('$ticket_id','5');\"> YES<img src='../thumbs down.pgn.png' onclick=\"save_ticket_status('$ticket_id','2');\"> NO
    </div><br><br></div></td></tr></table></td></tr>


<tr>
<td></td>
<td>
<div id='rsad' $CLOSE2>

<select id='rsa' style='float:left'><option value=''>Approve root cause</option><option value='Approve'>Approve</option><option value='Disaprove'>Don't Approve</option></select>

</div>
</td>



<tr>


<td > <button class='btn btn-danger btn-md'  data-dismiss='modal' >
                 <i class='fa fa-close'></i> Close Form</button></td>
<td> <span ><button class='btn btn-success ' id='save_ticket_btn'  onclick=\"var cstatus=$('#cstatus').val();save_ticket_status('$ticket_id',cstatus);\" $READONLY $NONE>

                                                 <i class='fa fa-save'></i>Save Status</button></span></td>

                                                 
</tr>
</table>

<div class='loader' style='float:right;display:none;'></div>
</pre>
</div>

</div>
</div>
</div>


</body>
</html>